:root {
    --color1: #c6a477;
    --color2: #ecd59f;
    --color3: #d3e7ee;
    --color4: #abd1dc;
    --color5: #7097ab;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100dvh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    display: flex;
    height: 60px;
    padding-block: 5px;
    padding-inline: 30px;
    width: min(100%, 900px);
    border-radius: 50px;
    justify-content: space-between;
    margin-inline: auto;
    align-items: center;
    background-color: var(--color3);
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

header a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 700;
    font-family: cursive;
    color: var(--color1);
    padding-block: 7px;
    padding-inline: 15px;
    border: 2px solid var(--color5);
    border-radius: 50px;
    transition: color 200ms ease;
    -webkit-transition: color 200ms ease;
    -moz-transition: color 200ms ease;
    -ms-transition: color 200ms ease;
    -o-transition: color 200ms ease;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

header a:hover {
    color: var(--color5);
}

header p {
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 700;
    font-family: cursive;
    color: var(--color1);
    letter-spacing: 2px;
}

nav {
    display: flex;
    gap: 20px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-inline: auto;
    width: min(100%, 800px);
    padding-block: 10px;
    border-top: 3px solid var(--color4);
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 700;
    font-family: cursive;
    color: var(--color1);
    letter-spacing: 2px;
}

main {
    margin-block: 3rem;
    display: flex;
    justify-content: center;
}

.grid-container {
    display: grid;
    width: min(90vw, 400px);
    aspect-ratio: 1/1;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
}

.grid-container a {
    border: 2px solid var(--color2);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 200ms ease-in-out;
    -webkit-transition: box-shadow 200ms ease-in-out;
    -moz-transition: box-shadow 200ms ease-in-out;
    -ms-transition: box-shadow 200ms ease-in-out;
    -o-transition: box-shadow 200ms ease-in-out;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
}

.grid-container a:hover {
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.4);
}

.grid-container a img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    object-fit: contain;
}

.grid-container a h3 {
    text-transform: capitalize;
    font-size: 1.05rem;
    text-align: center;

}